.Application {
  position: relative;
  display: inline-block;
  width: 22rem;
  height: 14rem;
  margin: 1rem;
  padding: 2px;
  border: 1px solid #0d3444;
  border-radius: 1rem;
}

.Application img {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

.Application h3 {
  margin-top: 20%;
}

.Application:hover {
  box-shadow: 0 0 7px #fff498;
  cursor: pointer;
  transition: 0.5s;
}
.Application-description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(0 0 0/90%);
  visibility: hidden;
  opacity: 0;
  border-radius: 1rem;
  transition: opacity 0.5s, visibility 0.5s;
}
.Application:hover .Application-description {
  visibility: visible;
  opacity: 1;
}

/* MEDIA QUERY FOR RESPONSIVE DESIGN */

@media only Screen and (min-width: 250px) and (max-width: 450px) {
  .Application {
    width: 16rem;
    height: 9rem;
  }
  .Application h3 {
    margin-top: 10%;
  }
}
