.about-page h3 {
  margin-top: 0;
}

.about-page-info {
  width: 55%;
  padding: 0.5rem 1rem;
  margin: auto;
  background-color: rgb(5 5 14 / 30%);
  font-size: 1.1rem;
  line-height: 2rem;
  text-align: left;
  border-radius: 10px;
}

.skills {
  margin: 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
}

.link-in-text:active,
.link-in-text:visited,
.link-in-text:link {
  color: #fff498;
  text-decoration: none;
}

.link-in-text:hover {
  text-decoration: underline;
}

.skill {
  padding: 0.5rem;
  margin-right: 1rem;
  background: rgb(153 153 153 / 17%);
  border-radius: 5px;
  color: #b8b8b8;
}

.fa-star {
  color: #fff498;
}

/* MEDIA QUERY FOR RESPONSIVE DESIGN */

@media only Screen and (min-width: 250px) and (max-width: 1000px) {
  .header-sections a {
    font-size: 0.7rem;
  }
  .about-page-info {
    width: 90%;
    font-size: 1rem;
  }
}
