.AboutPage h3 {
  margin-top: 0;
}

.AboutPage-info {
  width: 59%;
  padding: 1rem;
  margin-left: 2rem;
  background-color: rgb(5 5 14 / 30%);
  font-size: 1.1rem;
  line-height: 2rem;
  text-align: justify;
  border-radius: 10px;
}

.AboutPage-info a {
  color: #82d8ff;
}

.AboutPage-info a:hover {
  color: whitesmoke;
  text-decoration: none;
}

.social-media-links {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
}
.social-media-links a:nth-of-type(1) i {
  color: #4267b2;
}
.social-media-links a:nth-of-type(2) i {
  color: #c13584;
}
.social-media-links a:nth-of-type(3) i {
  color: gray;
}
.social-media-links a:nth-of-type(4) i {
  color: #5b93d6;
}
.social-media-links a:hover i {
  color: whitesmoke;
}
