.dark-bg {
  background-color: rgba(0, 0, 0, 70%);
  top: 0px;
  left: 0;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  z-index: 6;
  position: absolute;
}

.centered {
  position: fixed;
  top: 25vh;
  left: 25vw;
  z-index: 7;
  background: #000c25;
  border-radius: 13px;
  animation: blowUpModal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal {
  width: 50vw;
  height: 50vh;
  color: #ffffffdb;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modal-header {
  height: 50px;
  background: #f1efe3;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.heading {
  margin: 0;
  padding: 10px;
  color: black;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
}

.modal-content,
.technologies {
  padding: 10px;
  font-size: 1.3rem;
  width: 79%;
  margin: auto;
}

.modal-content {
  line-height: 2rem;
}

.technologies p {
  margin-bottom: 0;
}

.technologies .skills {
  justify-content: center;
}

.skill {
  padding: 3px;
}

.modal-actions {
  position: absolute;
  display: flex;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.close-btn {
  position: absolute;
  right: -1rem;
  top: -1rem;
  z-index: 10;
  background-color: #f1efe3;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}
.close-btn:before {
  position: absolute;
  left: 50%;
  top: 50%;
  font-family: fontAwesome;
  content: "";
  color: #000;
  font-size: 1rem;
  transform: translate(-50%, -50%);
}
.close-btn:hover:before {
  color: hsl(11deg 100% 34%);
  transition: background 350ms cubic-bezier(0.42, 0, 0.58, 1) 10ms,
    all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transform: translate(-50%, -48%) rotate(-0.25turn);
  /*Had to bump it b/c the dimensions are not square*/
}

@keyframes blowUpModal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* MEDIA QUERY FOR RESPONSIVE DESIGN */

@media only Screen and (min-width: 450px) and (max-width: 1600px) {
  .centered {
    top: 17.5vh;
    left: 20vw;
  }
  .modal {
    width: 60vw;
    height: 65vh;
  }
}

@media only Screen and (min-width: 250px) and (max-width: 450px) {
  .centered {
    top: 5vh;
    left: 5vw;
  }
  .modal {
    width: 90vw;
    height: 90vh;
  }
}
