.CustomBtn {
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  width: 40%;
  height: 2rem;
  color: white;
  font-family: inherit;
  font-weight: bold;
  margin: 1em auto;
}

a.CustomBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  text-decoration: none;
  font-weight: 100;
  width: 10rem;
}

.CustomBtn::after,
.CustomBtn::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.5s ease;
  border-radius: 2px;
}

.CustomBtn::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #fff498;
  border-right-color: #fff498;
}

.CustomBtn::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #fff498;
  border-left-color: #fff498;
}

.CustomBtn:hover::after,
.CustomBtn:hover::before {
  border-bottom-color: #fff498;
  border-right-color: #fff498;
  border-top-color: #fff498;
  border-left-color: #fff498;
  width: 100%;
  height: 100%;
}
