.SectionItem {
  width: 12rem;
  height: 12rem;
  background-image: url("../../images/star.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: hsl(240deg 6% 87%);
  text-decoration: none;
}

.SectionItem:hover {
  animation: tada 2.1s;
}

.SectionItem-infos {
  position: relative;
  top: 4.8rem;
}

.SectionItem-icon {
  font-size: 1.5rem;
  text-shadow: 0px 0px 2px #0e3b4a;
}

.SectionItem-name {
  margin-top: 4px;
}
