.header {
  display: flex;
  justify-content: space-between;
}

.header img {
  width: 5rem;
  padding: 1rem;
}

.header img:hover {
  transform: scale(1.3, 1.3);
  transition: 1s;
}

.header .header-sections {
  display: flex;
  align-items: center;
  padding: 15px 4px;
}

.header .header-sections a {
  text-decoration: none;
  color: inherit;
  margin: 0 6px;
  font-size: 1.1rem;
}

.header .header-sections a.active {
  color: #fff498;
  font-size: 1.3rem;
}

.header .header-sections a:hover:not(.active) {
  background-image: linear-gradient(
    70deg,
    whitesmoke 45%,
    /* font color */ yellow 50%,
    whitesmoke 55% /* font color */
  );
  background-size: 500% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: 1s;
  animation: shine 2s infinite;
}

@keyframes shine {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* MEDIA QUERY FOR RESPONSIVE DESIGN */

@media only Screen and (min-width: 250px) and (max-width: 450px) {
  .header img {
    width: 1.5rem;
  }
  .header .header-sections a,
  .header .header-sections a.active {
    font-size: 0.9rem;
    margin: 0 3px;
  }
}
