.resume-page-header {
  margin-top: 0.5rem;
}

.resume-page .text {
  line-height: 25px;
}

.link-in-text:active,
.link-in-text:visited,
.link-in-text:link {
  color: #fff498;
  text-decoration: none;
}

.link-in-text:hover {
  text-decoration: underline;
}

@media only Screen and (min-width: 250px) and (max-width: 670px) {
  iframe {
    width: auto;
  }
}
