.ResumePage-header {
  margin-top: 0.5rem;
}

.ResumePage .text {
  line-height: 25px;
}

.ResumePage .contact:active,
.ResumePage .contact:visited,
.ResumePage .contact:link {
  color: #fff498;
  text-decoration: none;
}

.ResumePage .contact:hover {
  text-decoration: underline;
}
