.ResumePage-header {
  margin-top: 0.5rem;
}

.ResumePage .text {
  line-height: 25px;
}

.link-in-text:active,
.link-in-text:visited,
.link-in-text:link {
  color: #fff498;
  text-decoration: none;
}

.link-in-text:hover {
  text-decoration: underline;
}
