@import url("https://fonts.googleapis.com/css2?family=Capriola&display=swap");

.App {
  text-align: center;
  font-family: "Capriola";
}

.page {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}

@keyframes pulse {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  25% {
    transform: scaleX(0.8) scaleY(0.8);
  }
  50% {
    transform: scaleX(1) scaleY(1);
  }
  75% {
    transform: scaleX(0.8) scaleY(0.8);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}

@keyframes tada {
  0% {
    transform: scale(1);
  }

  10%,
  20% {
    transform: scale(0.9) rotate(-8deg);
  }

  30%,
  50%,
  70% {
    transform: scale(1.3) rotate(8deg);
  }

  40%,
  60% {
    transform: scale(1.3) rotate(-8deg);
  }

  80% {
    transform: scale(1) rotate(0);
  }
}
