.HomePage-title {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-size: 2.5rem;
  color: #fbfcfe;
}

.HomePage-title div {
  text-transform: uppercase;
}

.HomePage-title .iamSection {
  text-align: right;
  float: left;
}
.HomePage-title .slideSection {
  text-align: left;
  overflow: hidden;
  display: block;
  white-space: nowrap;
}
.HomePage-title .slideSection p {
  margin: 0px !important;
}

.HomePage-title .scroller {
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}
.HomePage-title .scroller .inner {
  animation: 10s normal infinite running scroll;
}
@keyframes scroll {
  0% {
    margin-top: 0px;
  }
  16.6% {
    margin-top: 0px;
  }

  33.2% {
    margin-top: -50px;
  }
  49.8% {
    margin-top: -50px;
  }

  66.4% {
    margin-top: -100px;
  }
  83% {
    margin-top: -100px;
  }

  100% {
    margin-top: 0px;
  }
}

.HomePage-bio {
  width: 40%;
  margin: 2rem auto;
  padding: 1rem 0;
  font-size: 1.3rem;
  line-height: 2.2rem;
  background-color: rgb(5 5 14 / 30%);
}

.HomePage .Sections {
  display: flex;
  justify-content: center;
  gap: -5px;
  margin-top: 4rem;
}

.HomePage .Sections .SectionItem:not(:first-child) {
  margin-left: -2rem;
}

.HomePage .Sections .SectionItem:nth-of-type(2),
.HomePage .Sections .SectionItem:nth-of-type(4) {
  margin-top: -3rem;
}

/* MEDIA QUERY FOR RESPONSIVE DESIGN */

@media only Screen and (min-width: 250px) and (max-width: 489px) {
  .HomePage-title {
    font-size: 1.5rem;
  }
  .HomePage-bio {
    font-size: 1.1rem;
  }

  .HomePage .Sections {
    display: flex;
    flex-direction: column;
    margin-top: 7px;
  }

  .SectionItem {
    width: 10rem;
    height: 10rem;
    display: block;
    margin: 0 auto !important;
  }

  .SectionItem-infos {
    top: 3.5rem;
    font-size: 1rem;
  }

  .SectionItem-infos p {
    font-size: 0.9rem;
  }
}

@media only Screen and (min-width: 250px) and (max-width: 670px) {
  .HomePage-title {
    flex-direction: column;
  }
  .HomePage-title .iamSection,
  .HomePage-title .slideSection {
    text-align: center;
  }
  .HomePage-bio {
    width: 90%;
  }
}
