.HomePage-title {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-size: 2.5rem;
  color: #fbfcfe;
}

.HomePage-title div {
  text-transform: uppercase;
}

.HomePage-title .iamSection {
  text-align: right;
  float: left;
}
.HomePage-title .slideSection {
  text-align: left;
  overflow: hidden;
  display: block;
  white-space: nowrap;
}
.HomePage-title .slideSection p {
  margin: 0px !important;
}

.HomePage-title .scroller {
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}
.HomePage-title .scroller .inner {
  animation: 10s normal infinite running scroll;
}
@keyframes scroll {
  0% {
    margin-top: 0px;
  }
  16.6% {
    margin-top: 0px;
  }

  33.2% {
    margin-top: -50px;
  }
  49.8% {
    margin-top: -50px;
  }

  66.4% {
    margin-top: -100px;
  }
  83% {
    margin-top: -100px;
  }

  100% {
    margin-top: 0px;
  }
}

.HomePage-bio {
  width: 40%;
  margin: 2rem auto;
  padding: 1rem 0;
  font-size: 1.3rem;
  line-height: 2.2rem;
  background-color: rgb(5 5 14 / 30%);
}

.HomePage .Sections {
  display: flex;
  justify-content: center;
  gap: -5px;
  margin-top: 4rem;
}

.HomePage .Sections .SectionItem:not(:first-child) {
  margin-left: -2rem;
}

.HomePage .Sections .SectionItem:nth-of-type(2),
.HomePage .Sections .SectionItem:nth-of-type(4) {
  margin-top: -3rem;
}
