.ContactPage form {
  display: flex;
  flex-direction: column;
  width: 25rem;
  margin: 2rem auto;
  padding: 1rem;
  background-color: rgb(5 5 14 / 40%);
  text-align: left;
  border-radius: 6px;
}

.ContactPage label {
  font-size: 1rem;
  margin: 1rem 0 0.5rem 0.6rem;
}

.ContactPage input,
.ContactPage textarea {
  font-family: inherit;
  padding: 3px 10px;
  outline: none;
  border: none;
  background-color: #f5f5f5e8;
  border-radius: 6px;
}

.input-icons i {
  position: absolute;
}

.icon {
  padding: 8px;
  color: #0e101a;
  min-width: 40px;
  text-align: center;
}

.ContactPage input {
  width: 22.5rem;
  height: 1.7rem;
  font-size: 0.9rem;
  margin: 0 10px 1rem;
  text-indent: 40px;
}

.ContactPage input:focus,
textarea:focus {
  box-shadow: 0px 0px 2px 1px #fff498;
}

.ContactPage textarea {
  height: 10rem;
  box-sizing: border-box;
  width: 24rem;
  margin: 0 auto 1rem;
  padding: 1rem;
  font-weight: 100;
  resize: none;
}

.errorMessage {
  color: #11a683;
  font-size: 0.8rem;
  margin: -8px 0 0 1rem;
}

.errorMessage:last-of-type {
  margin-bottom: 1rem;
}

.Toastify__toast-theme--light {
  background-color: whitesmoke;
  color: black;
  font-family: inherit;
}
.Toastify__progress-bar {
  background: #11a683;
}
